@tailwind base;
@tailwind components;
@tailwind utilities;

.wrapper {
  @apply mx-4 min-h-screen flex flex-col justify-between;
}

.button {
  @apply py-2 px-4 rounded hover:opacity-70;
}

.button-primary {
  @apply button disabled:opacity-40 text-white bg-primary;
}

.button-secondary {
  @apply button text-gray-700 bg-secondary;
}

.button-p-with-icon {
  @apply button-primary flex gap-3 items-center;
}

.button-s-with-icon {
  @apply button-secondary flex gap-3 items-center;
}

.chat-me {
  @apply max-w-64 break-words whitespace-pre-wrap float-left text-white bg-green-600 rounded-lg p-6 mr-2;
}

.chat-other {
  @apply max-w-64 break-words whitespace-pre-wrap float-right text-gray-700 bg-white rounded-md p-6 ml-2;
}

.input {
  @apply p-2 text-sm border border-gray-300 text-gray-700 rounded-md;
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}
